body {
    font-family: 'VT323', monospace; 
    font-size: 1.5rem;
    background-color: #181512;
    color: #eea35a;
    margin: auto;
    text-align: center;
}

.logo-cig {
    width: 80%;
    height: 80%;
}

button {
    margin: auto;
    width: 200px;
    height: 30px;
    color: #fbad5e;
    background-color: #302519;
    border-radius: 15px 15px;
    margin-bottom: 10px;
}

#retryButton {
    display: none;
}